# Ignore in frontend folder
/frontend/node_modules
/frontend/notes.txt

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Ignore in backend
backend/notes.txt
backend/.env
backend/node_modules