.TrialsEngine {
  margin: auto;
  /* width: 80%; */
  border: thick #32a1ce;;
  padding: 1%;
}

.OverlayModal{
  background-color: blue;
  position: absolute;
  height: 100%;
}

.EngineContainer{
  width: 80%;
  background-color: red;
  margin: auto;
}